<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>购物车</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
</head>
<body>
	<div id="header">
			<img class="logo_img" alt="" src="/static/img/logo.gif" >
			<span class="wel_word">购物车</span>
			{{if .UserId}}
			<div>
				<span>欢迎<span class="um_span">{{.UserName}}</span>光临尚硅谷书城</span>
				<a href="/getMyOrder">我的订单</a>
				<a href="/logout">注销</a>&nbsp;&nbsp;
				<a href="/main">返回</a>
			</div>
			{{else}}
			<div>
				<a href="/pages/user/login.html">登录</a> | 
				<a href="/pages/user/regist.html">注册</a> &nbsp;&nbsp;
				<a href="/pages/cart/cart.html">购物车</a>
				<a href="/pages/manager/manager.html">后台管理</a>
				<a href="/getOrders">订单管理</a>
			</div>
			{{end}}
	</div>
	
	<div id="main">
		{{if .Cart}}
		<table>
			<tr>
				<td>商品名称</td>
				<td>数量</td>
				<td>单价</td>
				<td>金额</td>
				<td>操作</td>
			</tr>	
			{{range .Cart.CartItems}}	
			<tr>
				<td>{{.Book.Title}}</td>
				<td>{{.Count}}</td>
				<td>{{.Book.Price}}</td>
				<td>{{.Amount}}</td>
				<td><a href="/deleteCartBook?cartItemId={{.CartItemId}}">删除</a></td>
			</tr>	
			{{end}}

		</table>
		<div class="cart_info">
			<span class="cart_span">购物车中共有<span class="b_count">{{.Cart.TotalCount}}</span>件商品</span>
			<span class="cart_span">总金额<span class="b_price">{{.Cart.TotalAmount}}</span>元</span>
			<span class="cart_span"><a href="/emptyCart?cartId={{.Cart.CartId}}">清空购物车</a></span>
			<span class="cart_span"><a href="/checkOut">去结账</a></span>
		</div>
		{{else}}
		<h1>您的购物车已经饥渴难耐了,快去 <a href="/main" style="color: seagreen;">购物</a> 吧</h1>
		{{end}}
	</div>

	<div id="bottom">
		<span>
			尚硅谷书城.Copyright &copy;2015
		</span>
	</div>
</body>
</html>